.common-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #CE1E36;
  color: white;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.common-button:hover {
  background-color: #180D3E;
  transform: translateY(-1px);
}

.common-button:disabled {
  background-color: #F3F4F5;
  color: #180D3E;
  cursor: not-allowed;
  opacity: 0.7;
} 