.footer {
  padding: 30px 10%;
  background: #F3F4F6;
}

.footer__newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 3%;
}

.footer__newsletter-content{
  width: 400px;
}

.footer__newsletter-content h4 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}

.footer__newsletter-content p {
  font-size: 16px;
  color: #6B7280;
  margin-bottom: 12px;
}

.footer__newsletter-form {
  display: flex;
  gap: 0;
  margin-bottom: 8px;
}

.footer__newsletter-form input {
  padding: 8px 100px;
  border: 1px solid #ececec;
  border-radius: 4px 0 0 4px;
  outline: none;
  font-size: 1rem;
  min-width: 260px;
}

.footer__newsletter-form button {
  background: #d32f2f;
  color: #fff;
  border: none;
  padding: 8px 24px;
  border-radius: 0 4px 4px 0;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s;
}

.footer__newsletter-form button:hover {
  background: #b71c1c;
}

.footer__newsletter-policy {
  font-size: 13px;
  color: #888;
  margin-top: 4px;
  text-align: center;
}

.footer__newsletter-policy a {
  color: #d32f2f;
  text-decoration: none;
}

.footer__main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  padding: 3% 0;
  border-top: 1px solid #D1D5DB;
  border-bottom: 1px solid #D1D5DB;
}

.footer__col {
  flex: 1 1 180px;
  min-width: 180px;
}

.footer__brand {
  min-width: 350px;
}

.footer__logo img{
  width: 70%;
  height: 100%;
}

.footer__logo-text {
  font-size: 2rem;
  font-weight: 800;
  color: #ce1e36;
  letter-spacing: 1px;
}

.footer__brand p {
  font-size: 14px;
  color: #666;
  margin: 25px 0 70px;
}

.footer__social h2{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.footer__social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer__social-icons a{
  font-size: 20px;
  background-color: #ffffff;
  padding: 10px 10px 5px;
  border-radius: 10px;
}

.facebook{
  color: #1877F2;
}

.twitter{
  color: #1DA1F2;
}

.instagram{
  color: #FD1D1D;
}

.linkedin{
  color: #0077B5;
}

.footer__col h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 15px;
  color: #111827;
}

.footer__col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__col ul li {
  font-size: 14px;
  color: #4B5563;
  margin-bottom: 15px;
  cursor: pointer;
  transition: color 0.2s;
}

.footer__col ul li:hover {
  color: #d32f2f;
}

.footer__help h5 {
  margin-bottom: 16px;
}

.footer__help p {
  font-size: 14px;
  color: #666;
  margin-bottom: 30px;
}

.footer__contact{
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer__contact div {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 15px;
  color: #4B5563;
}

.footer__contact svg{
  font-size: 30px;
}

.contact-item .gap{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.contact-item .bold{
  color: #111827;
  font-size: 20px;
}

.footer__bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 3%;
  border-top: 1px solid #ececec;
  font-size: 0.95rem;
}

.footer__copyright {
  color: #6B7280;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer__payments{
  display: flex;
  align-items: center;
}

.footer__payments img {
  width: 100%;
  height: 22px;
  margin-right: 10px;
  vertical-align: middle;
}

.footer__links a {
  color: #111827;
  margin-left: 18px;
  text-decoration: underline;
  font-size: 0.95rem;
  transition: color 0.2s;
}

.footer__links a:hover {
  color: #d32f2f;
}