.policy-container {
  padding: 50px 10%;
}

.policy-section {
  padding-bottom: 2rem;
}

.policy-section h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.policy-section p {
  font-size: 0.95rem;
  line-height: 1.6;
  margin: 0;
} 